/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

/* You can apply the universal styles to all after and before pseudo elements as well.*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* Root font size is placed in the html selector */
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  padding: 3rem;
  color: #777777;
  box-sizing: border-box;
}

.header {
  height: 95vh;
  background-image: linear-gradient(
    to right bottom,
  rgba(126, 213, 111, 0.8),
  rgba(40,180,133,0.8)),
  url(../img/hero.jpg);
  /* If you want the gradient to be on top, it needs to come first, before the comma */
  background-size: cover;
  /*whatever the width of the element, it will try to fit the image into it*/
  background-position: top;

  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  /* top-left, top-right (x= 100% the width of the element), bottom-right, bottom-left */
  position: relative;
}

.header__logo-box {
  position: absolute;
  left: 4rem;
  top: 4rem;
}

.header__logo {
  height: 3.5rem;
}

.header__text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading-primary {
  color: #FFFFFF;
  text-transform: uppercase;
  backface-visibility: hidden;
  /* Fix/hack for shaky animations */
  margin-bottom: 6rem;

}

.heading-primary--main {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;
  animation: moveInLeft ease-out 1s;
}

.heading-primary--sub {
  display: block;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 1.75rem;
  animation: moveInRight ease-out 1s;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem)
  }

  80% {
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0)
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem)
  }

  80% {
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0)
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem)
  }

  100% {
    opacity: 1;
    transform: translate(0)
  }
}


.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0,0,0,.2)
}

.btn:active {
  /* when element is being clicked */
  transform: translateY(-1px);
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.2)
}

.btn--white {
  background-color: #FFFFFF;
  color: #777777;
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
}

.btn--white::after {
  background-color: #FFFFFF;

}

.btn:hover::after {
  /* create a pseudo element when hovering over the element */
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn--animated {
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards;
  /* will automatically apply the styles of 0% to the element before the animation starts */
}
