/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  padding: 30px;
  color: #777777;
}

.header {
  height: 95vh;
  background-image: linear-gradient(
    to right bottom, 
  rgba(126, 213, 111, 0.8), 
  rgba(40,180,133,0.8)), 
  url(../img/hero.jpg);
  /* If you want the gradient to be on top, it needs to come first, before the comma */
  background-size: cover;
  /*whatever the width of the element, it will try to fit the image into it*/
  background-position: top;

  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%)
  /* top-left, top-right (x= 100% the width of the element), bottom-right, bottom-left */
}